@import url('font/font.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
  --color-bg: #101820;         /* Fondo principal oscuro */
  --color-surface: #1a2636;    /* Superficies y tarjetas */
  --color-surface2:rgb(24, 78, 148)6;    /* Superficies y tarjetas */
  --color-primary: #1976d2;    /* Azul principal */
  --color-primary2:rgb(20, 69, 119)2;    /* Azul principal */
  --color-secondary: #00b4d8;  /* Celeste vibrante */
  --color-accent: #48cae4;     /* Celeste claro/acento */
  --color-highlight: #90e0ef;  /* Detalles y hover */
  --color-text: #e0e6ed;       /* Texto principal */
  --color-muted: #7b8fa1;      /* Texto secundario */
  --color-error: #ff4d6d;      /* Errores */
  --color-success: #38b000;    /* Éxitos */
}

html, body{
    background-color: var(--color-bg);
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    margin-block: 50px;
    flex: 1;
}

.game-title{
    text-align: center;
    padding: 0px 0px 20px 0px;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: 700;
    background: linear-gradient(90deg, var(--color-primary), var(--color-highlight));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.page-subtitle{
    text-align: center;
    font-size: 30px;
    color: #2c36a1;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 0px 0px 0px 0px;
}

.backbutton {
    background: none;
    border: none;
    cursor: pointer;
    margin: 20px 0 0 20px;
    padding: 10px;
    border-radius: 50%;
    transition: background 0.2s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #0c0d0e;
    position: absolute;
    top: 0;
    left: 0;
}

.backbutton:hover {
    background: #23272b;
}

